.ni-page-header {
  position: relative;
  border-bottom: 1px dotted #ddd;
}
.ni-page-header .ni-page-header-container {
  margin: 0 auto;
  padding: 1.5em 1.25rem;
  max-width: 48rem740px;
  display: flex;
  flex-flow: column nowrap;
}
.ni-page-header .title {
  font-size: 2em;
  line-height: 1.04;
  color: #000;
  font-weight: 700;
  /* letter-spacing: -.028em; */
}
.ni-page-header .subtitle {
  color: #999;
  margin-top: 0.5em;
  font-size: 1.25em;
  font-weight: 300;
  line-height: 1.25;
}
.ni-page-header .subtitle a {
  color: #999;
  border-bottom: 1px solid #999;
}
.ni-page-header .subtitle a:hover {
  color: #07e;
  border-bottom-color: #07e;
}
.ni-page-header .subtitle strong {
  font-weight: 500;
}
.ni-page-header.ni-page-header-default .ni-page-header-container {
  align-items: flex-start;
}
.ni-page-header.ni-page-header-center .ni-page-header-container {
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.ni-page-header.ni-page-header-theme-tendermint {
  background: hsl(210, 70%, 13%);
}
.ni-page-header.ni-page-header-theme-tendermint .title {
  color: hsl(210, 70%, 90%);
}
.ni-page-header.ni-page-header-theme-tendermint .subtitle {
  color: hsl(210, 70%, 50%);
}
.ni-page-header.ni-page-header-theme-tendermint .subtitle strong {
  font-weight: 500;
  color: hsl(210, 70%, 60%);
}
.ni-page-header.ni-page-header-theme-tendermint .subtitle a {
  color: hsl(210, 70%, 70%);
  border-bottom-color: hsl(210, 70%, 50%);
}
.ni-page-header.ni-page-header-theme-tendermint .subtitle a:hover {
  color: #fff;
}

@media screen and (min-width: 360px) {
  .ni-page-header .subtitle {
    font-size: 1em;
  }
}
@media screen and (min-width: 768px) {
  .ni-page-header .title {
    font-size: 2.5rem;
  }
  .ni-page-header .subtitle {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .ni-page-header .ni-page-header-container {
    padding: 3rem;
  }
  .ni-page-header.ni-page-header-split .ni-page-header-container {
    padding: 3em;
    text-align: left;
  }
  .ni-page-header.ni-page-header-split .title {
    font-size: 2rem;
  }
  .ni-page-header.ni-page-header-split .subtitle {
    font-size: 1.25rem;
    letter-spacing: 0.02em;
  }
}
