.pz-page-header {
  position: relative;
  border-bottom: 1px dotted #ddd;
}
.pz-page-header .pz-page-header-container {
  margin: 0 auto;
  padding: 1.5em 1.25rem;
  max-width: 740px;
  display: flex;
  flex-flow: column nowrap;
}
.pz-page-header .title {
  font-size: 2em;
  line-height: 1.04;
  color: #000;
  font-weight: 700;
  /* letter-spacing: -.028em; */
}
.pz-page-header .subtitle {
  color: #999;
  margin-top: 0.5em;
  font-size: 1.25em;
  font-weight: 300;
  line-height: 1.25;
}
.pz-page-header .subtitle a {
  color: #999;
  border-bottom: 2px solid #999;
}
.pz-page-header .subtitle a:hover {
  color: #07e;
  border-bottom-color: #07e;
}
.pz-page-header .subtitle strong {
  font-weight: 500;
}
.pz-page-header.pz-page-header-default .pz-page-header-container {
  align-items: flex-start;
}
.pz-page-header.pz-page-header-center .pz-page-header-container {
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.pz-page-header.pz-page-header-tendermint {
  background: hsl(210, 70%, 13%);
}
.pz-page-header.pz-page-header-tendermint .title {
  color: hsl(210, 70%, 90%);
}
.pz-page-header.pz-page-header-tendermint .subtitle {
  color: hsl(210, 70%, 50%);
}
.pz-page-header.pz-page-header-tendermint .subtitle strong {
  font-weight: 500;
  color: hsl(210, 70%, 60%);
}
.pz-page-header.pz-page-header-tendermint .subtitle a {
  color: hsl(210, 70%, 70%);
  background: hsla(0,0%,0%,0.2);
  padding: 0 0.25rem;
  text-decoration: none;
}
.pz-page-header.pz-page-header-tendermint .subtitle a:hover {
  color: #fff;
}

@media screen and (min-width: 360px) {
  .pz-page-header .subtitle {
    font-size: 1em;
  }
}
@media screen and (min-width: 720px) {
  .pz-page-header .title {
    font-size: 2.5rem;
  }
  .pz-page-header .subtitle {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 960px) {
  .pz-page-header .pz-page-header-container {
    padding-top: 3em;
    padding-bottom: 3em;
  }
  .pz-page-header.pz-page-header-split .pz-page-header-container {
    padding: 3em;
    text-align: left;
  }
  .pz-page-header.pz-page-header-split .title {
    font-size: 2rem;
  }
  .pz-page-header.pz-page-header-split .subtitle {
    font-size: 1.25rem;
    letter-spacing: 0.02em;
  }
}
